/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 3px;  /* Thickness to make it bold */
    background-color: black; /* Line color */
}

/* Add a page border */
body {
    margin: 0;
    padding: 10px; /* Space between content and the border */
    background-color: black;
    border: 10px solid black; /* Black border around the page */
    min-height: 100vh; /* Ensure the page takes full height */
}

/* Center the content container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    margin-left: 0px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Main section */
main {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 0 10px 10px;
}

li{
    margin-left: 20px;
}
